# Configuración de la base de datos
POSTGRES_HOST=encuesta-pgl-db
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=1nt3r4ct1v3
POSTGRES_DATABASE=encuesta
MODE=DEV
RUN_MIGRATIONS=true

# Configuración del servidor
SERVER_PORT=3000
SERVER_SECRET=generarluego
